name: Deploy Hexo Site

on:
  push:
    branches:
      - master # Set a branch to trigger deployment
  schedule:
    - cron: '*/22 * * * *' # Runs every 0 minutes
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
      with:
        # This depth parameter is optional - fetching the full history can improve the accuracy of the GH Pages deployment action's change detection.
        # However, it can also increase the time required for the checkout step to complete.
        fetch-depth: 0

    - name: Use Node.js
      uses: actions/setup-node@v2
      with:
        node-version: '18' # Specify your Node.js version here

    - name: Install Dependencies
      run: npm install

    - name: Install Hexo
      run: npm install -g hexo-cli

    - name: Build-0
      run: bash ./build.sh
      env:
        notice_host_server: ${{ secrets.notice_host_server }}
        notice_user: ${{ secrets.notice_user }}
        notice_pwd: ${{ secrets.notice_pwd }}
        notice_mail: ${{ secrets.notice_mail }}
        notice_receiver: ${{ secrets.notice_receiver }}

    - name: Deploying-0
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./public

    - name: Build-1
      run: sleep 300 && bash ./build.sh
      env:
        notice_host_server: ${{ secrets.notice_host_server }}
        notice_user: ${{ secrets.notice_user }}
        notice_pwd: ${{ secrets.notice_pwd }}
        notice_mail: ${{ secrets.notice_mail }}
        notice_receiver: ${{ secrets.notice_receiver }}

    - name: Deploying-1
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./public

    - name: Build-2
      run: sleep 300 && bash ./build.sh
      env:
        notice_host_server: ${{ secrets.notice_host_server }}
        notice_user: ${{ secrets.notice_user }}
        notice_pwd: ${{ secrets.notice_pwd }}
        notice_mail: ${{ secrets.notice_mail }}
        notice_receiver: ${{ secrets.notice_receiver }}

    - name: Deploying-2
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./public

    - name: Build-3
      run: sleep 300 && bash ./build.sh
      env:
        notice_host_server: ${{ secrets.notice_host_server }}
        notice_user: ${{ secrets.notice_user }}
        notice_pwd: ${{ secrets.notice_pwd }}
        notice_mail: ${{ secrets.notice_mail }}
        notice_receiver: ${{ secrets.notice_receiver }}

    - name: Deploying-3
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./public

    - name: Build-4
      run: sleep 300 && bash ./build.sh
      env:
        notice_host_server: ${{ secrets.notice_host_server }}
        notice_user: ${{ secrets.notice_user }}
        notice_pwd: ${{ secrets.notice_pwd }}
        notice_mail: ${{ secrets.notice_mail }}
        notice_receiver: ${{ secrets.notice_receiver }}

    - name: Deploying-4
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./public

    - name: Build-5
      run: sleep 300 && bash ./build.sh
      env:
        notice_host_server: ${{ secrets.notice_host_server }}
        notice_user: ${{ secrets.notice_user }}
        notice_pwd: ${{ secrets.notice_pwd }}
        notice_mail: ${{ secrets.notice_mail }}
        notice_receiver: ${{ secrets.notice_receiver }}

    - name: Deploying-5
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./public

    - name: Commit changes
      uses: stefanzweifel/git-auto-commit-action@v4
      with:
        commit_message: Auto Commit
        branch: ${{ github.head_ref }}
        file_pattern: |
          data.csv
          siteenv
        
